<!DOCTYPE html>
<html>
    <head>
        <title>
           GSS
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
    <div class="container fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Geo</a>
        </div>
        <div class="collapse navbar-collapse">
           
            
        </div>
    </div>
</nav>

        
   