<% include ../partials/header.ejs %>

<div class="text-center">
<h1>Sorry!!! <span style="color:red"><%= email %></span> you are not allowed here</h1>    
</div>




<% include ../partials/footer.ejs %>